.admonition {
  font-size: 200%; /* match code size */
  background: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em 0.75em 1em;
  margin-bottom: 24px;
}

.admonition-red { font-size:100%; background-color: #ffe8e8 ; color: #000000 ; }
.admonition-green { background: #aaa; background-color: #e3e3e3; color: #003333 ; }
.rhel {background: #fee;}
