.admonition {
  font-size: 200%; /* match code size */
  background: rgb(100, 240, 240);
  color: rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em 0.75em 1em;
  margin-bottom: 24px;
}

.admonition-red { background: #fee; background-color: #e8e8e8; color: #000000 ; }
.admonition-green { background: #aaa; background-color: #e3e3e3; color: #003333 ; }
.rhel {background: #fee;}
