.admonition.red {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background-color: #ff9fb1;
}

.admonition.red p.first.admonition-title {
  background: #e05353;
}

.admonition.green {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background-color: #05de0d;
}

.admonition.green p.first.admonition-title {
  background: #31840f;
}

.admonition.violet {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background-color: #e39fff;
}

.admonition.violet p.first.admonition-title {
  background: #a830b7;
}

.admonition.yellow {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background-color: #fff39f;
}

.admonition.yellow p.first.admonition-title {
  background: #bdb81b;
}
